<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
  <!-- LOGO -->
  <div class="navbar-brand-box">
    <a href="/" class="logo logo-dark">
      <span class="logo-sm">
        <img src="public/assets/images/logo-sm.png" alt="" height="22" />
      </span>
      <span class="logo-lg">
        <img src="public/assets/images/logo-dark.png" alt="" height="20" />
      </span>
    </a>

    <a href="/" class="logo logo-light">
      <span class="logo-sm">
        <img src="public/assets/images/logo-sm.png" alt="" height="22" />
      </span>
      <span class="logo-lg">
        <img src="public/assets/images/logo-light.png" alt="" height="20" />
      </span>
    </a>
  </div>

  <button
    type="button"
    class="
      btn btn-sm
      px-3
      font-size-16
      header-item
      waves-effect
      vertical-menu-btn
    "
  >
    <i class="fa fa-fw fa-bars"></i>
  </button>

  <div data-simplebar class="sidebar-menu-scroll">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>

        <li>
          <a href="/">
            <i class="uil-home-alt"></i
            ><span class="badge rounded-pill bg-primary float-end">01</span>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="menu-title">Apps</li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="uil-store"></i>
            <span>Store</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="products">Products</a></li>
            <li><a href="add-product">Add Product</a></li>
            <li><a href="categories">Categories</a></li>
            <li><a href="tags">Tags</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="bx bx-happy-beaming"></i>
            <span>Customers</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="orders">Orders</a></li>
            <li><a href="customers">Customers</a></li>
            <li><a href="edit-customer">Edit Customer</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="uil-invoice"></i>
            <span>Invoices</span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="invoices-list">Invoice List</a></li>
            <li>
              <a href="invoices-detail">Invoice Detail </a>
            </li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="uil-book-alt"></i>
            <span> Contacts </span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="contacts-list"> User List </a></li>
            <li><a href="contacts-profile"> Profile </a></li>
          </ul>
        </li>

        <li class="menu-title">Components</li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="uil-flask"></i>
            <span> UI Elements </span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="ui-alerts"> Alerts </a></li>
            <li><a href="ui-buttons"> Buttons </a></li>
            <li><a href="ui-cards"> Cards </a></li>
            <li><a href="ui-carousel"> Carousel </a></li>
            <li><a href="ui-dropdowns"> Dropdowns </a></li>
            <li><a href="ui-grid"> Grid </a></li>
            <li><a href="ui-images"> Images </a></li>
            <li><a href="ui-lightbox"> Lightbox </a></li>
            <li><a href="ui-modals"> Modals </a></li>
            <li><a href="ui-rangeslider"> Range Slider </a></li>
            <li>
              <a href="ui-session-timeout"> Session Timeout </a>
            </li>
            <li>
              <a href="ui-progressbars"> Progress Bars </a>
            </li>
            <li><a href="ui-sweet-alert"> Sweet Alert </a></li>
            <li>
              <a href="ui-tabs-accordions"> Tabs and Accordions </a>
            </li>
            <li><a href="ui-typography"> Typography </a></li>
            <li><a href="ui-video"> Video </a></li>
            <li><a href="ui-general"> General </a></li>
            <li><a href="ui-colors"> Colors </a></li>
            <li><a href="ui-rating"> Rating </a></li>
            <li>
              <a href="ui-notifications"> Notifications </a>
            </li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="uil-shutter-alt"></i>
            <span class="badge rounded-pill bg-info float-end">6</span>
            <span> Forms </span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="form-elements"> Basic Elements </a></li>
            <li><a href="form-validation"> Validation </a></li>
            <li>
              <a href="form-advanced"> Advanced Plugins </a>
            </li>
            <li><a href="form-editors"> Editors </a></li>
            <li><a href="form-uploads"> File Upload </a></li>
            <li><a href="form-xeditable"> Xeditable </a></li>
            <li><a href="form-repeater"> Repeater </a></li>
            <li><a href="form-wizard"> Wizard </a></li>
            <li><a href="form-mask"> Mask </a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="uil-list-ul"></i>
            <span> Tables </span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="tables-basic"> Bootstrap Basic </a></li>
            <li><a href="tables-datatable"> Datatables </a></li>
            <li><a href="tables-responsive"> Responsive </a></li>
            <li><a href="tables-editable"> Editable </a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="uil-chart"></i>
            <span> Charts </span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="charts-apex"> Apex </a></li>
            <li><a href="charts-chartjs"> Chartjs </a></li>
            <li><a href="charts-flot"> Flot </a></li>
            <li><a href="charts-knob"> Jquer Knob </a></li>
            <li><a href="charts-sparkline"> Sparkline </a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="uil-streering"></i>
            <span> Icons </span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="icons-unicons"> Unicons </a></li>
            <li><a href="icons-boxicons"> Boxicons </a></li>
            <li>
              <a href="icons-materialdesign"> Material Design </a>
            </li>
            <li><a href="icons-dripicons"> Dripicons </a></li>
            <li>
              <a href="icons-fontawesome"> Font Awesome </a>
            </li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="uil-location-point"></i>
            <span> Maps </span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="maps-google"> Google </a></li>
            <li><a href="maps-vector"> Vector </a></li>
            <li><a href="maps-leaflet"> Leaflet </a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="uil-share-alt"></i>
            <span> Multi Level </span>
          </a>
          <ul class="sub-menu" aria-expanded="true">
            <li>
              <a href="javascript: void(0);"> Level 1 1 </a>
            </li>
            <li>
              <a href="javascript: void(0);" class="has-arrow"> Level 1 2 </a>
              <ul class="sub-menu" aria-expanded="true">
                <li>
                  <a href="javascript: void(0);"> Level 2 1 </a>
                </li>
                <li>
                  <a href="javascript: void(0);"> Level 2 2 </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->
