<%- contentFor('css_body') %> <%- contentFor('body') %>
<div class="breadcrumb">
  <div class="page-title">New Category</div>
  <a href="/category" class="btn-full bg-primary"
    ><i class="bx bx-exit bx-rotate-180"></i>Exit</a
  >
</div>

<div class="page-body">
  <form
    id="category-form"
    class="row form-main"
    action="/category/new"
    method="post"
  >
    <div class="col-12 col-sm-9 col-md-6 row form-control">
      <label for="name">Category:</label>
      <input type="text" placeholder="Enter category name" name="name" />
    </div>
    <div class="form-btn col-12">
      <button type="submit" class="btn-full bg-success">
        <i class="bx bx-save"></i> Save
      </button>
    </div>
  </form>
</div>

<%- contentFor('js_body') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script>
  $(document).ready(function () {
    $("#category-form").validate({
      rules: {
        name: "required",
      },
      messages: {
        name: "You need to enter category name",
      },
    });
  });
</script>
