<div class="sidebar active">
  <div class="logo">
    <img src="/assets/img/logo.png" alt="">
    <i id="close-sidebar" class='bx bx-x'></i>
  </div>
  <div class="menu">
    <div class="item">
      <a href="/"><i class='bx bx-grid-alt'></i></i>Dashboard</a>
    </div>
    <div class="item">
      <a class="sub-btn"><i class="bx bx-group"></i>User<i class='bx bx-chevron-right dropdown'></i></a>
      <div class="sub-menu">
        <a href="/user" class="sub-item">User</a>
        <a href="/admin" class="sub-item">Admin</a>
      </div>
    </div>
    <div class="item">
      <a href="/product"><i class='bx bx-gift'></i></i>Product</a>
    </div>
    <div class="item">
      <a href="/order"><i class='bx bx-notepad'></i></i>Order</a>
    </div>
    <div class="item">
      <a class="sub-btn"><i class='bx bx-store'></i></i>Store<i class='bx bx-chevron-right dropdown'></i></a>
      <div class="sub-menu">
        <a href="/category" class="sub-item">Banner</a>
        <a href="/category" class="sub-item">Category</a>
        <a href="/tag" class="sub-item">Tag</a>
      </div>
    </div>
  </div>
</div>

<script>
  
</script>
